################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RealEstate/RealEstate.Proto/nuget.config
.env
