.real-estate-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.real-estate-main-cards {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
