@using NotificationService.Contracts
@model RealEstateDeletedEvent
<h1>Hello, @Model.FirstName @Model.LastName</h1>
<p>Your posting "@Model.Title" with address "@Model.Address" has been successfully deleted</p>
