@using NotificationService.Contracts
@model UserRegisteredEvent
<h1>Hello, @Model.FirstName @Model.LastName</h1>
<p>Thank you for registering on our Real Estate Platform</p>
<br/>
<p>Best regards,</p>
<p>KyerrreN, The Lead Developer</p>